<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/Jean Daiben/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Jean Daiben/static/style_inicio.css">
    <title>Inicio</title>
</head>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="barra-lateral">
        <div>
            <div class="nombre_pagina">
                <ion-icon id="inventory" name="file-tray-stacked-outline"></ion-icon>
                <span>Jean Daiben</span>
            </div>
            <button class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <span>Creat Producto</span>
            </button>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="dashboard" href="/Jean Daiben/src/templates/dashboard.html">
                        <ion-icon name="clipboard-outline"></ion-icon>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Jean Daiben/src/templates/inventario.html">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <span>Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="bar-chart-outline"></ion-icon>
                        <span>Predicción</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="notifications"></ion-icon>
                        <span>Notificaciones</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

        <div class="modo-oscuro">
            <div class="info">
                <ion-icon name="moon"></ion-icon>
                <span>Dark Mode</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">

                    </div>
                </div>
            </div>
        </div>

        <div class="usuario">
            <img src="/Jean Daiben/static/uploads/user-profile-icon-free-vector.jpg" alt="">
            <div class="info-usuario">
                <div class="nombre-email">
                    <span class="nombre">Admin</span>
                    <span class="email">admin@gmail.com</span>
                
                </div>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
        </div>

    </div>

    <main>
        <h1>Contenido segun cada modulo</h1>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/Jean Daiben/static/js/script_inicio.js"></script>
</body>
</html>