{% extends "layout.html" %}

{% block title %}Notificaciones{% endblock %}

{% block content %}
<!-- Aquí puedes agregar el contenido específico para las notificaciones -->
<nav class="navegacion-notificaciones bg-light p-3 rounded mb-4">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Todas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">No Leídas</a>
        </li>
    </ul>
</nav>

<div class="container">
    <!-- Aquí se puede agregar el contenido dinámico de las notificaciones -->
</div>
{% endblock %}
